@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #e0d1ff, #b0a6e1);
}

section.join__section {
  width: 400px; /* Giảm kích thước của form */
  max-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0; /* Bo góc trên của section */
  margin-bottom: 20px;
}

.brand h1 {
  text-transform: uppercase;
  font-size: 24px; /* Tăng kích thước chữ tiêu đề */
  color: #444;
}

.input__group {
  margin-bottom: 15px;
}

.input__group label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.input__group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #8f8be8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7e7adf;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}
